<table class="month_calendar">
  <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="month_calendar__row"
      *ngFor="let row of this.getPage(this.getCurrentMonth()).getDays()"
    >
      <td class="month_calendar__column" *ngFor="let column of row">
        <div
          [ngClass]="{
            'month_calendar__column--active-today': this.isToday(
              column.getYear(),
              column.getMonth(),
              column.getDay()
            ),
            'month_calendar__column--active':
              column.getDay() === this.getCurrentDay() &&
              column.getMonth() === this.getCurrentMonth()
          }"
        >
          {{ column.getDay() }}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #portalContent>
  <div class="month_calendar__navigationContainer">
    <div>
      <button (click)="this.previous()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button (click)="this.next()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
    <span>{{ this.MONTH[this.getCurrentMonth()] }}</span>
    <span>{{ this.getCurrentYear() }}</span>
  </div>
</ng-template>
