.secondary_dropdown_btn{
    position: relative;

    & > :first-child{
        background-color: red !important;
    }

    .secondary_dropdown_btn__dropdown-list{
        list-style-type: none;
        background-color: white;
        z-index: 9999;
        box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
        position: absolute;
        border-radius: 4px;
        overflow: hidden;
        height: 0;
        width: 0;

        &--show{
            width: 165px;
        }

        &-item{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem 1rem;
            cursor: pointer;
            &:hover{
                background-color: #f5f5f5;
            }
        }


    }
}