<div class="nav__container">
  <div class="nav__main_menu">
    <app-main-menu
      onclick="(() => {
      const homeContent = document.querySelector('.home__content');
      homeContent.firstChild.classList.toggle('sidebar--collapse');
    })()"
    ></app-main-menu>
  </div>
  <div class="nav__logo">
    <app-logo></app-logo>
    <span>Calendar</span>
  </div>
  <app-secondary-btn
    (click)="this.navigateToToday()"
    [text]="'Today'"
  ></app-secondary-btn>
  <app-secondary-dropdown-btn
    [options]="['Day', 'Week', 'Month', 'Year', 'Schedule']"
    [currentValue]="'Month'"
  ></app-secondary-dropdown-btn>
  <ng-template [cdkPortalOutlet]="this.portal$ | async"></ng-template>
</div>
