
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$google-calendar-clone-primary: mat.define-palette(mat.$indigo-palette);
$google-calendar-clone-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$google-calendar-clone-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$google-calendar-clone-theme: mat.define-light-theme((
  color: (
    primary: $google-calendar-clone-primary,
    accent: $google-calendar-clone-accent,
    warn: $google-calendar-clone-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($google-calendar-clone-theme);

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
  

:root{
    $blue : #4285F4;
    $red : #EA4335;
    $yellow : #FBBC05;
    $green : #34A853;
    $gray: #dadce0;
    $dark_gray: #5f6368;
    $black: #3c4043;
}


button{
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
